[package]
name = "tetra"
description = "A simple 2D game framework written in Rust"
version = "0.3.3"
edition = "2018"
authors = ["Joe Clay <27cupsofcoffee@gmail.com>"]
license = "MIT"
repository = "https://github.com/17cupsofcoffee/tetra"
documentation = "https://docs.rs/tetra"
readme = "README.md"
keywords = ["game", "engine", "framework", "gamedev"]
categories = ["game-engines"]

[features]
sdl2_bundled = ["sdl2/bundled"]
sdl2_static_link = ["sdl2/static-link"]
serde_support = ["serde", "vek/serde"]

[dependencies]
sdl2 = "0.33.0"
rodio = "0.11.0"
glow = "0.4.0"
image = "0.23.1"
vek = { version = "0.9.12", default-features = false }
hashbrown = "0.7.1"
glyph_brush = "0.6.3"
serde = { version = "1.0.104", optional = true } 

[dev-dependencies]
rand = "0.7.3"
