name: CI Build
on:
  push:
    branches:
    - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta, nightly]
    steps:
    - name: Install native dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libsdl2-dev libasound2-dev
    - name: Install Rust toolchains
      run: |
        rustup update ${{ matrix.rust }} --no-self-update
        rustup default ${{ matrix.rust }}
    - uses: actions/checkout@v1
    - name: Build and test (all features, all targets)
      run: cargo test --verbose --all
    - name: Build and test (no features, library only)
      run: cargo test --verbose --no-default-features
